## FTP
FTP_HOST=add_data
FTP_USER=add_data
FTP_PASSWORD=add_data

## wireguard
# [Interface]
WG_ADDRESS=add_data
WG_PRIVATEKEY=add_data
WG_LISTENPORT=add_data
WG_DNS=add_data

# [Peer]
WG_PUBLICKEY=add_data
WG_ENDPOINT=add_data
WG_ALLOWEDIPS=add_data
WG_PERSISTENKEEPALIVE=add_data
